/*-- Custom Fonts --*/
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Fondamento|Major+Mono+Display');

html {
  border: 30px solid #A95800;
  height: 100%;
  box-shadow: inset 0 0 50px 5px #A95800;
}

body {
  background: #F68E1F;
  text-align: center;
  color: #183945;
}

.container {
  height: 100%;
  margin-top: 100px;
}

.map-border {
  position: relative;
  height: 400px;
  background: url(../images/map.jpg) no-repeat;
  background-position: center;
  border-radius: 25px;
}

.title {
  font-family: 'Alfa Slab One', cursive;
  font-size: 100px;
  color: #224f5f;
  padding-top: 120px;
}

.subtitle {
  position: relative;
  top: -70px;
  font-family: 'Fondamento', cursive;
  font-size: 80px;
  color: #1FBDF6;
  margin: 0;

  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

  
  -ms-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}


.stats {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #1FBDF6;
  width: 200px;
  border-top: 2px solid #183945;
  border-right: 2px solid #183945;
  border-bottom-left-radius: 25px;
}

#underscores {
  font-family: 'Major Mono Display', monospace;
  color: #1FBDF6;
  font-size: 300%;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.letters {
  font-family: 'Major Mono Display', monospace;
  color: #183945;
  border: dashed 3px #183945;
}

#letter-list {
  margin: 10px auto;
  padding: 0;
  align-items: center;
}

#letter-list::after {
  content: "";
  display: table;
  clear: both;
}

#alphabet li { 
  font-family: 'Major Mono Display', monospace;
  display: inline-block;
  color: #ccc;
  font-weight: bold;
  margin: 10px 35px 0 10px;
  width:35px;
  height:30px;
  background: #116973;
  border: solid 2px #116973;
  border-radius: 5px;
  box-shadow: inset -10px -5px 15px #183945;
}

.usedLetter {
  color: rgb(190, 190, 190) !important;
  background: rgba(119, 119, 119, 0.3) !important;
  border: solid 2px rgb(87, 87, 87, 0.3) !important;
  box-shadow: inset 10px 5px 15px rgb(75, 75, 75, 0.3) !important;
}

#try-again {
  font-family: 'Major Mono Display', monospace;
  display: inline;
  color: white;
  border: 15px solid #D82B03;
  border-radius: 40px;
  background: #D82B03;
}

.visible {
  visibility: visible;
  opacity: 0.8;
}

.hidden {
   visibility: hidden;
   opacity: 0;
  -webkit-transition: visibility 0s 1.5s, opacity 1.5s linear;
  -moz-transition: visibility 0s 1.5s, opacity 1.5s linear;
  -o-transition: visibility 0s 1.5s, opacity 1.5s linear;
  transition: visibility 0s 1.5s, opacity 1.5s linear;
}

.flag {
  background-image: url(../images/flags/us.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*-- Media Queries --*/
@media all and (max-width: 768px) {
  .title {
    font-size: 75px;
  }
  .subtitle {
    font-size: 60px;
    top: -50px;
  }
 }

@media all and (max-width: 564px) {
  .title {
    font-size: 50px;
  }
  .subtitle {
    font-size: 40px;
    top: -30px;
  }
}

