html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: Georgia, 'Times New Roman'
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

header {
    border-bottom: 2px solid #efefef;
}

.navbar {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #dedede;
}

.navwrap {
    width: 960px;
    height: 100px;
    margin: 0 auto;
}

#namebox {
    display: inline-block;
    position: relative;
    width: 275px;
    top: 23px;
}

#myname {
    margin: 0;
    color: white;
    text-align: center;
    padding: 25px;
    background-color: #4aaaa5;
}

.nav {
    float: right;
    width: 269px;
    margin: 0;
    top: 23px;
    right: 0;
}

.nav ul {
    margin-top: 20px;
}

.nav ul li {
    display: inline;
    line-height: 60px;
    padding: 10px;
}

.nav ul li a {
    text-decoration: none;
    color: #999999;
}

.nav ul li a:hover {color: #4aaaa5;}

#borderR {border-right: 2px solid #efefef;}

#borderL {border-left: 2px solid #efefef;}

/*End header
Begin main content */

.background {
    padding-top: 36px;
    padding-bottom: 120px;
    background-image: url(../images/white-waves.png);
    min-height: calc(100vh - 245px);
    margin: 0 auto -50px;
}

.contentwrap {
    border: 1px solid #dedede;
    margin: 0px auto;
    width: 960px;
    background-color: #ffffff;
}

#contenttitle {
    color: #4aaaa5;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#line {
    background-color: #dddddd;
    width: 898px;
    height: 3px;
    margin: 0 auto;
}

.content {
    padding: 30px;
}

.portfolio-content {
    padding: 30px;
    width: 500px;
}

.portfolio-pic {
    padding-right: 30px;
    padding-bottom: 30px;
}

p {
    line-height: 2;
    color: #666666;
}

.profilepic {
    height:200px;
    width:220px;
    margin-right: 30px;
    margin-top: 8px;
    border: 1px solid #dedede;
    float: left;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 58px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    align-items: center;
}

#copyright {
    position: relative;
    bottom: -33px;
    color: #c1c1c1;
    text-align: center;
    font-size: 80%;
    line-height: 20px;
    margin: 0;
}