/*-- Custom Fonts --*/
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Fondamento|Major+Mono+Display');

html {
  border: 30px solid #A95800;
  min-height: 100%;
  box-shadow: inset 0 0 50px 5px #A95800;
}

body {
  background: #F68E1F;
  text-align: center;
  color: #183945;
}

.container {
  height: 100%;
  margin-top: 50px;
}

.map-border {
  position: relative;
  height: 400px;
  background: url(../images/map.jpg) no-repeat;
  background-position: center;
  border-radius: 25px;
  border: 1px solid #183945;
}

.title {
  font-family: 'Alfa Slab One', cursive;
  font-size: 100px;
  color: #224f5f;
  padding-top: 120px;
}

.subtitle {
  position: relative;
  top: -70px;
  font-family: 'Fondamento', cursive;
  font-size: 80px;
  color: #ABA435;
  margin: 0;

  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

  
  -ms-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.sub2 {
  position: relative;
  padding: 10px;
  bottom: 14px;
  display: inline-block;
  background-color: #1FBDF6;
  border-top: 2px solid #183945;
  border-left: 2px solid #183945;
  border-right: 2px solid #183945;
}


.stats {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #1FBDF6;
  width: 200px;
  border-top: 2px solid #183945;
  border-right: 2px solid #183945;
  border-bottom-left-radius: 25px;
}

#underscores {
  font-family: 'Major Mono Display', monospace;
  color: #000;
  font-size: 3rem;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
  padding-top: 2rem;
}

.letters {
  font-family: 'Major Mono Display', monospace;
  color: #183945;
  border: dashed 3px #000;
}

#letter-list {
  margin: 15px auto 10px 25px;
  padding: 0;
  align-items: center;
}

#letter-list::after {
  content: "";
  display: table;
  clear: both;
}

#alphabet li { 
  font-family: 'Major Mono Display', monospace;
  display: inline-block;
  color: #ccc;
  font-weight: bold;
  margin: 10px 35px 0 10px;
  width:35px;
  height:30px;
  background: #116973;
  border: solid 2px #116973;
  border-radius: 5px;
  box-shadow: inset -10px -5px 15px #183945;
  cursor: pointer;
}

.usedLetter {
  color: rgb(190, 190, 190) !important;
  background: rgba(119, 119, 119, 0.3) !important;
  border: solid 2px rgb(87, 87, 87, 0.3) !important;
  box-shadow: inset 10px 5px 15px rgb(75, 75, 75, 0.3) !important;
}

#try-again {
  display: block;
  margin: 0 auto;
  width: 40%;
  font-family: 'Major Mono Display', monospace;
  color: white;
  border: 15px solid #D82B03;
  border-radius: 40px;
  background: #D82B03;
}


.visible {
  visibility: visible;
  opacity: 0.8;
}

.hidden {
   visibility: hidden;
   opacity: 0;
  -webkit-transition: visibility 0s 1.5s, opacity 1.5s linear;
  -moz-transition: visibility 0s 1.5s, opacity 1.5s linear;
  -o-transition: visibility 0s 1.5s, opacity 1.5s linear;
  transition: visibility 0s 1.5s, opacity 1.5s linear;
}

#reset {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 2rem;
  color: #122c35;
  background-color: #1FBDF6;
  border-left: 2px solid #183945;
  border-top: 2px solid #183945;
  border-bottom: none;
  border-right: none;
  border-bottom-right-radius: 21px;
  box-shadow: inset -10px -5px 35px #183945;
}

#flagpole {
  position: absolute;
  display: inline-block;
  bottom: 84px;
  left: 5%;
  height: 210px;
  width: 20px;
  background-image: linear-gradient(to right, #2f4353, #d2ccc4, #2f4353);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#blankflag {
  position: absolute;
  display: inline-block;
  bottom: 190px;
  left: 6.3%;
  height: 88px;
  width: 155px;
  border: 1px solid black;
  background: url(../images/blank-flag.png);
  background-size: cover;
}

#flag {
  position: absolute;
  display: inline-block;
  bottom: 190px;
  left: 6.3%;
  height: 88px;
  width: 155px;
  border: 1px solid black;
  background-size: cover;
}

button:focus {
  outline: none;
}

/*-- Media Queries --*/
@media all and (max-width: 1199px) {
  .title {
    font-size: 5rem;
  }

  .subtitle {
    font-size: 4rem;
  }

  .sub2 {
    bottom: -30px;
  }

  #underscores {
    font-size: 2.5rem;  
  }

  #flagpole {
    height: 180px;
    width: 18px;
  }

  #flag, #blankflag {
    height: 68px;
    width: 125px;
  }
}

@media all and (max-width: 991px) {
  .stats {
    width: 150px;
  }

  #won, #lost {
    font-size: 1.5rem;
  }

  #underscores {
    font-size: 2rem;  
  }

  #flagpole {
    display: none;
  }

  #flag, #blankflag {
    bottom: 0;
    top: 0;
    right: auto;
    left: auto;
  }

@media all and (max-width: 768px) {
  .title {
    font-size: 75px;
  }

  .subtitle {
    font-size: 60px;
    top: -50px;
  }

  .stats {
    width: 100px;
  }

  #won, #lost {
    font-size: 1rem;
  }

  .sub2 {
    bottom: -59px;
  }

  h2 {
    font-size: 1rem;
  }

  #reset {
    font-size: 1rem;
  }
  
  #underscores {
    font-size: 1.5rem;  
  }
 }

@media all and (max-width: 564px) {
  .title {
    font-size: 50px;
  }

  .subtitle {
    font-size: 40px;
    top: -30px;
  }

  .sub2 {
    bottom: -113px;
  }
}

